
body {
font-family: 'Caveat', cursive;
font-size: 2em;
margin: 0;
background: rgb(173,209,233);
background: linear-gradient(180deg, rgba(173,209,233,1) 50%, rgba(152,254,249,1) 100%);


}
// 1em=16px
h1 {
    margin: 0 auto 0 0;
    font-size: 3.6em;
    text-align: center;
    font-family: 'Caveat', cursive;
    color: #34cceb;
    font-weight: normal;

}
p {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Caveat', cursive;
  font-weight: normal;
  position: relative;




}
.opis1 {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  position: absolute;
  top: 40px;
  width: 100%;
}


.temple {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  position: relative;
  top: 0;
  width: 100%;

}

.top-cloud {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  position: absolute;
  top: 80px;
  left: 80px;
  width: 20%;

}

.bl-cloud {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  position: absolute;
  bottom: 80px;
  left: 80px;
  width: 20%;
}


.bottom-cloud {
  height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  position: absolute;
  bottom: 110px;
  right: 80px;
  width: 20%;


}

.top-container {
  position: relative;
  width: 50%;
  height: 50%;
  margin: auto;
  text-align: center;
}
.middle-container {
  position: relative;
  width: 50%;
  height: 50%;
  margin: auto;
}

.profile {
  position: relative;
  margin: auto;
  width: 50%;
  height: 50%;
    text-align: center;

}

.skills {
  position: relative;
  width: 50%;
  height: 50%;
  margin: auto;
  text-align: center;

}

.skill-row {
  position: relative;
  margin: auto;
    text-align: center;
}
.engi0 {
  width: 300px;
  height: 300px;
  float: top;
  margin-left: 30px;
}
.engi1 {
  width: 300px;
  height: 300px;
}

.engi2 {
  width: 300px;
  height: 300px;
}
.bottom-container {
  position: relative;
  width: 50%;
  height: 50%;
  margin: auto;
  text-align: center;
  word-spacing: 200px;

}
.contact-me {
  position: relative;
  width: 50%;
  height: 50%;
  margin: auto;
  text-align: center;
}
.footer-link {
  position: relative;
  width: 50%;
  height: 50%;
    word-spacing: 200px;
  margin: auto;
    text-align: center;

}
